@import "tailwindcss";

.active {
    background-color:  #708238;
    border-radius: 14rem;
    transform: rotate(20deg);

}


@layer utilities{
    .navItemls{
     @apply  hover:bg-[#708238] hover:text-[#3b3b3b] rounded-md transition-all cursor-pointer};

}