@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html,
body, #root{
  overflow-x: hidden;
  height: 100%;
  background-color: #1C1C1C;
  color: #99A1AF;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}


@layer utilities {

  .flex-center{
  @apply flex items-center justify-center
  }

  .icon-size{
    @apply w-[150px] h-[150px]
  }

  .container{
    @apply  flex flex-col items-center gap-8
  }

  .profile{
    @apply  hover:border-4 hover:border-amber-50 hover:scale-125 text-center
  }

  .profile-container{
    @apply flex flex-wrap gap-20 justify-center 
  }

  .page-basiclayout{
    @apply w-full h-lvh
  }

  .social-icon{
    @apply w-12 h-12 lg:w-14 lg:h-14
  }

  .cert-icon{
    @apply h-16 w-auto
  }

}
@theme {
  --animate-fadeInscale: fadeInscale 0.3s ease-out;
 

  @keyframes fadeInscale{
  0%{
    opacity: 0;
    transform: scale(1.2);
  }100%{
    opacity: 1;
    transform: scale(1);
  }
}
}