name: Deploy to S3 

on:
    push:
        branches:
            - main
jobs:
  build:
    name: Deploy app
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout 
        uses: actions/checkout@v5
      - name: Set up node  
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint
      - name: Run build 
        run: npm run build --if-present
      - name: Set AWS creds
        uses: aws-actions/configure-aws-credentials@v4.3.1
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-1
      - name: Deploy to S3 
        uses: reggionick/s3-deploy@v4.0.0
        with:
          folder: dist
          bucket: ${{ secrets.S3_BUCKET }}
          bucket-region: us-east-1
          no-cache: true
          files-to-include: ".*/*,*/*,**"