@import "tailwindcss";


ul li img {
    color: red;
    width: 3rem;
    margin: 10 5;
    padding: 8;
}

.about-me{
    margin: 4 8;
    padding: 8;
    width: 30rem;
    height: 35rem;
}

@layer utilities {
     p{
    @apply tracking-tight m-8 p-8
    }
}